body {
    background-color: rgb(34, 34, 34);
    color: white;
    font-family: poppinsregular;
    max-width: 1200px;/*Manter o tamanho mesmo para monitores grande*/
    margin: 0 auto; /* Manter sempre no meio da tela mesmo com monitores maiores*/
    padding: 10px; /*Manter o espaçamento interno*/
}

header {
    display: flex;
    flex-direction: row; /*Muda a direção de uma coluna para linha(row)*/
    justify-content: space-between;/*Cria um espaço em as Divs*/
    align-items: center;
}

#title {
    flex-direction: column;
    line-height: 10px;
}

li {
    display: inline-block;
    margin: 20px;
}

a {
    color: white;
}

a:hover {
    color: rgb(132, 14, 201);
    transition: 0.3s all; /* Aplica uma suavização no hover*/
}

#inscreva-se-btn {
    border: 2px solid rgb(132, 14, 201);
    padding: 10px;
    border-radius: 15px;
}

#inscreva-se-btn:hover {
    background-color: rgb(132, 14, 201);
    color: white;
}

h1{
    font-weight: 200;
}

main {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

h2{
    font-size: 56px;
    line-height: 10px;
    font-family: poppinsmedium;
}

span {
    color: rgb(132, 14, 201);
}

p {
    line-height: 20px;
    max-width: 500px;
    font-family: poppinslight;
}

img {
    width: 580px;
}

img:hover {
    opacity: 50%;
    transition: 0.3s ;
}

/*O form ocupa 100% o tamanho da Div*/
form {
    display: flex;
    flex-direction: column;
    width: 70%;
}

form [type="submit"] { /*Editar um elemento seprado dentro da div de forma semântica*/
    height: 50px;
    width: 50%;
    background-color: rgb(132, 14, 201);
    color: white;
    font-weight: bold;
    align-self: center;
}

form [type="submit"]:hover {
    cursor: pointer;
}

input {
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 10px;
    border: none;
    font-size: 15px;
}

footer {
    font-size: small;
    margin-top: 100px;
    text-align: center;
}